<h1 class="text-center my-3 text-purple"><u>Animation Demo</u></h1>
<div class="row">
  <div class="col-md-4 mx-auto">
    <div
      *ngIf="displayWizard"
      class="card text-center"
      (mouseover)="showFooter()"
      (mouseleave)="hideFooter()"
    >
      <!-- Card Header -->
      <div class="card-header bg-light-green">
        <h4 class="my-0 py-0">Hand Raising</h4>
      </div>

      <!-- Card Body -->
      <div class="card-body py-0" style="min-height: 150px">
        <!-- Step 1 -->
        <app-step-1 *ngIf="showStep(1)" (onMoveNext)="moveNext()" />

        <!-- Step 2 -->
        <app-step-2 *ngIf="showStep(2)" (onMoveNext)="moveNext()" />

        <!-- Step 3 -->
        <app-step-3 *ngIf="showStep(3)" (onMoveNext)="moveToStepFour()" />

        <!-- Step 4 -->
        <app-step-4 *ngIf="showStep(4)" (onMoveNext)="moveNext()" />

        <!-- Step 5 -->
        <app-step-5 (onMoveNext)="moveNext()" *ngIf="showStep(5)" />
      </div>

      <!-- Card Footer -->
      <div
        class="card-footer text-body-secondary bg-lighter-green fw-bold text-start"
      >
        <div class="row mb-3">
          <div class="col-12">
            Adeeb will raise his hand and wait to be called in class.
          </div>
        </div>

        <app-footer-detail *ngIf="displayFooter" />
      </div>
    </div>

    <!-- Step 6 -->
    <app-step-6
      (onMoveNext)="moveNext()"
      (onMovePrevious)="movePrevious()"
      *ngIf="showStep(6)"
    />

    <!-- Step 7 -->
    <app-step-7 *ngIf="showStep(7)" (onMoveNext)="moveToStepEight()" />

    <!-- Step 8 -->
    <app-step-8 *ngIf="showStep(8)" (onMoveToStart)="moveToStart()" />

    <!-- BOTTOM SECTIONS -->

    <!-- Step 4 bottom-section -->
    <app-step-4-bottom-section (onMoveNext)="moveNext()" *ngIf="showStep(4)" />

    <!-- Step 5 bottom-section -->
    <app-step-5-bottom-section (onMoveNext)="moveNext()" *ngIf="showStep(5)" />
  </div>
</div>
