<div class="card">
  <!-- Card Header -->
  <div class="card-header bg-purple">
    <h4 class="my-0 py-0">Focus</h4>
  </div>

  <!-- Card Body -->
  <div class="card-body py-0" style="min-height: 150px">
    <div style="min-height: 150px; position: relative">
      <img
        *ngIf="showImages"
        src="/img/complete-star-spin.gif"
        [@flowOutLeftAnimation]
        (@flowOutLeftAnimation.done)="hideImages()"
        class="moving-star"
      />

      <img
        *ngIf="showImages"
        src="/img/complete-star-spin.gif"
        [@flowOutLeftMiddleAnimation]
        (@flowOutLeftMiddleAnimation.done)="hideImages()"
        class="moving-star"
      />

      <img
        *ngIf="showImages"
        src="/img/complete-star-spin.gif"
        [@flowOutRightAnimation]
        (@flowOutRightAnimation.done)="hideImages()"
        class="moving-star"
      />

      <img
        *ngIf="showImages"
        src="/img/complete-star-spin.gif"
        [@flowOutRightMiddleAnimation]
        (@flowOutRightMiddleAnimation.done)="hideImages()"
        class="moving-star"
      />

      <img
        *ngIf="showImages"
        src="/img/complete-star-spin.gif"
        [@flowOutTopMiddleAnimation]
        (@flowOutTopMiddleAnimation.done)="hideImages()"
        class="moving-star"
      />

      <img
        *ngIf="showMiddleStar"
        [@flowOutTopLeftAnimation]
        (@flowOutTopLeftAnimation.done)="hideMiddleStar()"
        src="/img/complete-star.png"
        class="moving-top-left-star"
      />
      <img
        *ngIf="!showImages && !showMiddleStar"
        src="/img/complete-star.png"
        class="top-left-star"
      />
      <h1
        *ngIf="!showImages && !showMiddleStar"
        class="text-warning achieved-message"
        [@zoomInMessageAnimation]
        (@zoomInMessageAnimation.done)="moveNext()"
      >
        Goal Achieved
      </h1>
    </div>
  </div>
  <div
    class="card-footer text-body-secondary bg-light-purple fw-bold text-start"
  >
    <div class="row mb-3">
      <div class="col-12">
        Adeeb will maintain focus during lengthy lectures and discussions
      </div>
    </div>
  </div>
</div>
